.profileInstructorPage {
    width: 85vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial, sans-serif';
    color: #333;

    .profileHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
        background-color: #ffffff; // White background for header
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .profileImage {
            margin-bottom: 20px;

            img {
                border-radius: 50%;
                width: 150px;
                height: 150px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
        }

        .profileInfo {
            h1 {
                font-size: 36px;
                color: #0073e6;
                margin-bottom: 10px;
            }

            p {
                font-size: 18px;
                color: #555;
                margin-bottom: 20px;
            }

            .profileStats {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                align-items: center;

                div {
                    margin: 0 20px;
                    text-align: center;

                    &:nth-child(odd) {
                        font-size: 16px;
                        color: #888;
                    }

                    &:nth-child(even) {
                        font-size: 24px;
                        color: #000;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .socialLinks {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        button {
            width: 120px;
            margin: 0 10px;
            padding: 10px;
            background: #0073e6;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            transition: background 0.3s, transform 0.3s;

            &:hover {
                background: #005bb5;
                transform: translateY(-3px);
            }
        }
    }

    .profileContent {
        max-width: 800px;
        text-align: center;
        background-color: #ffffff; // White background for content
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 40px;

        h2 {
            font-size: 28px;
            color: #005bb5;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 10px;
        }

        .profileDescription {
            white-space: pre-wrap;
        }
    }

    .toggleButton {
        background: none;
        border: none;
        color: #0073e6;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;

        &:hover {
            text-decoration: underline;
        }
    }

    .coursesSection {
        width: 100%;
        max-width: 1200px;
        text-align: center;
        margin-top: 40px;

        h2 {
            font-size: 28px;
            color: #005bb5;
            margin-bottom: 20px;
        }

        .coursesGrid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;

        }

        .courseCard {
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s, box-shadow 0.3s;
            cursor: pointer;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
            }

            .courseImage {
                width: 100%;
                height: 150px;
                object-fit: cover;
                border-radius: 10px;
                margin-bottom: 15px;
            }

            h3 {
                font-size: 22px;
                color: #0073e6;
                margin-bottom: 10px;
            }

            p {
                font-size: 16px;
                color: #666;
                margin-bottom: 10px;

                .stars {
                    color: gold;
                }
            }
        }
    }
}