.addUserPage {
    padding: 15rem 15rem;
    background-color: #f8f9fa;
    width: 85vw;

    .header {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 24px;
        color: #333;
    }

    .formContainer {
        padding: 20px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .MuiTextField-root {
        margin-bottom: 20px;
    }

    .MuiButton-root {
        margin-top: 20px;
    }

    .MuiTypography-root {
        margin-top: 20px;
        text-align: center;
    }
}