
// LessonPage.module.scss
.container {
    display: flex;
    flex-direction: column;
    width: 100%; // Chiều rộng toàn bộ viewport
    height: 100vh; // Chiều cao toàn bộ viewport

    .right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin:0 2rem;
    }
  
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #20232a;
    color: white;
    height: 5vh;
    width: 100vw;
    z-index: 1000; // Đảm bảo header nằm trên các phần tử khác

}

.leftNav,
.rightNav {
    display: flex;
    align-items: center;
}

.backIcon,
.noteIcon,
.guideIcon {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;

}

.noteIcon {
    padding-left: 2rem;
}

.progressContainer {
    display: flex;
    align-items: center;
    color: white;
}

.progressCircle {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(rgb(10, 175, 46) 0%, rgb(5, 109, 45) 52%, transparent 52%, transparent 100%); // Tạo gradient theo cung tròn
    position: relative;
}

.progressPercentage {
    position: absolute;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 13px;
    z-index: 1;
}

.lessonCount {
    margin-left: 10px;
    font-weight: normal;
}



.main {
    display: flex;
    flex: 1; // Sử dụng toàn bộ không gian còn lại sau header
    background: #f9f9f9; // Màu nền cho phần main
    padding-top: 5vh; // Đảm bảo nội dung không bị che bởi header cố định

}

.videoContainer {
    flex: 3;
    background: url('https://wallpaperaccess.com/full/1129028.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; // Có thể sử dụng absolute tùy thuộc vào layout của bạn
    height: auto; // Đảm bảo container phù hợp với kích thước video
    width: 100%; // Chiều rộng có thể điều chỉnh theo nhu cầu

}

.reactPlayer {
    max-width: 100%;
    max-height: 70vh; // Giới hạn chiều cao tối đa của video
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); // Thêm bóng để tách biệt video ra khỏi nền
}

.videoList {
    width: 20%;
    background-color: #fff;
    overflow-y: auto; // Cho phép scroll độc lập
    overflow-x: hidden; // Cho phép scroll độc lập

    padding: 0;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); // Tăng cường bóng đổ
    border-radius: 8px; // Bo góc cho khối
    transition: all 0.3s ease;
    max-height: 100vh; // Giới hạn chiều cao và cho phép scroll
    &::-webkit-scrollbar {
        width: 3px; // Giảm kích thước rộng của thanh cuộn
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1; // Màu nền của track cuộn
    }

    &::-webkit-scrollbar-thumb {
        background: #228B22; // Màu của thumb cuộn
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555; // Màu của thumb khi hover
    }
    .courseContentHeader {
        font-size: 18px; // Kích thước chữ lớn hơn
        font-weight: bold; // Chữ đậm
        color: #333; // Màu chữ tối
        padding-bottom: 10px; // Đệm dưới để tạo khoảng cách với danh sách
        border-bottom: 2px solid #e1e4e8; // Đường kẻ ngăn cách giữa tiêu đề và danh sách
        margin-bottom: 20px; // Khoảng cách giữa tiêu đề và danh sách
        padding:20px
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        border-bottom: 1px solid #e1e4e8;
        padding: 12px 20px; // Tăng padding cho mỗi item
        transition: background-color 0.3s ease, transform 0.3s ease; // Thêm hiệu ứng chuyển đổi cho background và transform
     
        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: #f7f7f7;
            transform: translateX(5px); // Dịch chuyển nhẹ item khi hover
        }
    }

    .chapterHeader {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        color: #333;

        .iconntittle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;

            span {
                font-weight: bold;
                font-size: 16px;
                transition: color 0.3s ease; // Hiệu ứng màu sắc cho tiêu đề
            }

            .faChevronUp, .faChevronDown {
                font-size: 16px;
                transition: transform 0.3s ease; // Hiệu ứng xoay cho icon
            }
        }

        .chapterDetails {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #666;

            .goingcourse, .durationchapter {
                font-size: 13px;
                transition: color 0.3s ease; // Hiệu ứng màu sắc cho các thông tin chi tiết
            }

            .divider {
                color: #ccc;
                margin: 0 10px; // Tăng khoảng cách cho dấu gạch đứng
            }
        }

        &:hover .faChevronUp, &:hover .faChevronDown {
            transform: rotate(180deg);
        }

        &:hover span {
            color: #15af15; // Thay đổi màu khi hover vào tiêu đề
        }
    }

    .lessonList {
        padding: 0 20px;
        display: block;
    }

    .lessonItem {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        transition: background-color 0.3s ease;
        cursor: pointer;
        .lessonIcon {
            color: #4CAF50;
            margin-right: 10px;
            font-size: 12px;
        }

        .lessonName {
            flex-grow: 1;
            color: #555;
            font-size: 14px;
            transition: font-weight 0.3s ease; // Hiệu ứng font-weight khi hover
        }

        .lessonDuration {
            color: #888;
            font-size: 14px;
        }

        &:hover {
            background-color: #f0f0f0; // Nhẹ nhàng thay đổi màu nền khi hover
            .lessonName {
                font-weight: bold; // Làm đậm tên bài học khi hover
            }
        }
    }
}




.loading,
.error {
    color: #cc0000;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    width: 100vw;
}