.container {
  display: flex;
  flex-direction: column;
  width: 100%; // Chiều rộng toàn bộ viewport
  height: 100vh; // Chiều cao toàn bộ viewport

  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 2rem;
    align-items: center;

    .ratingContainer {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #fff; // Adjust this color as needed
      margin-right: 20px; // Adjust the spacing as needed



      &:hover {
        text-decoration: underline;
      }
    }
  }

  .ratingIcon {
    margin-right: 5px; // Spacing between the star icon and text
  }
}


.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #20232a;
  color: white;
  height: 5vh;
  width: 100vw;
  z-index: 1000; // Đảm bảo header nằm trên các phần tử khác

  span {
    font-weight: bold; // Làm đậm phần {courseDetail.name}
  }
}

.leftNav,
.rightNav {
  display: flex;
  align-items: center;

}

.rightNav {
  cursor: pointer;


}

.backIcon,
.noteIcon,
.guideIcon {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.noteIcon {
  padding-left: 2rem;
}

.progressContainer {
  display: flex;
  align-items: center;
  color: white;
}

.progressCircle {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(rgb(10, 175, 46) 0%, rgb(5, 109, 45) 52%, transparent 52%, transparent 100%); // Tạo gradient theo cung tròn
  position: relative;
}

.progressPercentage {
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 13px;
  z-index: 1;
}

.lessonCount {
  margin-left: 10px;
  font-weight: normal;
}

.main {
  display: flex;
  flex: 1; // Sử dụng toàn bộ không gian còn lại sau header
  background: #f9f9f9; // Màu nền cho phần main
  padding-top: 5vh; // Đảm bảo nội dung không bị che bởi header cố định

  .containervideo {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding-right: 20vw; // Để chừa không gian cho videolist
    animation: fadeIn 0.5s ease-in-out; // Thêm animation khi load trang
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.videoContainer {
  flex: 3;
  background: url('https://wallpaperaccess.com/full/1129028.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; // Có thể sử dụng absolute tùy thuộc vào layout của bạn
  height: auto; // Đảm bảo container phù hợp với kích thước video
  width: 100%; // Chiều rộng có thể điều chỉnh theo nhu cầu
}

.reactPlayer {
  max-width: 100%;
  max-height: 70vh; // Giới hạn chiều cao tối đa của video
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); // Thêm bóng để tách biệt video ra khỏi nền
}

.videoList {
  width: 20%;
  background-color: #fff;
  overflow-y: auto; // Cho phép scroll độc lập
  overflow-x: hidden; // Cho phép scroll độc lập
  position: fixed;
  right: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Tăng cường bóng đổ
  border-radius: 8px; // Bo góc cho khối
  transition: all 0.3s ease;
  max-height: 100vh; // Giới hạn chiều cao và cho phép scroll
  z-index: 1000;

  &::-webkit-scrollbar {
    width: 3px; // Giảm kích thước rộng của thanh cuộn
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1; // Màu nền của track cuộn
  }

  &::-webkit-scrollbar-thumb {
    background: #228B22; // Màu của thumb cuộn
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555; // Màu của thumb khi hover
  }

  .courseContentHeader {
    font-size: 18px; // Kích thước chữ lớn hơn
    font-weight: bold; // Chữ đậm
    color: #333; // Màu chữ tối
    padding-bottom: 10px; // Đệm dưới để tạo khoảng cách với danh sách
    border-bottom: 2px solid #e1e4e8; // Đường kẻ ngăn cách giữa tiêu đề và danh sách
    margin-bottom: 20px; // Khoảng cách giữa tiêu đề và danh sách
    padding: 20px
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid #e1e4e8;
    padding: 12px 20px; // Tăng padding cho mỗi item
    transition: background-color 0.3s ease, transform 0.3s ease; // Thêm hiệu ứng chuyển đổi cho background và transform

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #f7f7f7;
      transform: translateX(5px); // Dịch chuyển nhẹ item khi hover
    }
  }

  .chapterHeader {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: #333;

    .iconntittle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      span {
        font-weight: bold;
        font-size: 16px;
        transition: color 0.3s ease; // Hiệu ứng màu sắc cho tiêu đề
      }

      .faChevronUp,
      .faChevronDown {
        font-size: 16px;
        transition: transform 0.3s ease; // Hiệu ứng xoay cho icon
      }
    }

    .chapterDetails {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #666;

      .goingcourse,
      .durationchapter {
        font-size: 13px;
        transition: color 0.3s ease; // Hiệu ứng màu sắc cho các thông tin chi tiết
      }

      .divider {
        color: #ccc;
        margin: 0 10px; // Tăng khoảng cách cho dấu gạch đứng
      }
    }

    &:hover .faChevronUp,
    &:hover .faChevronDown {
      transform: rotate(180deg);
    }

    &:hover span {
      color: #15af15; // Thay đổi màu khi hover vào tiêu đề
    }
  }

  .lessonList {
    padding: 0 20px;
    display: block;
  }

  .lessonItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;

    .lessonIcon {
      color: #4CAF50;
      margin-right: 10px;
      font-size: 12px;
      transition: color 0.3s ease;
    }

    .lessonIcon.completed {
      color: #FFA500; // Màu cam cho bài học đã hoàn thành
    }


    .lessonName {
      flex-grow: 1;
      color: #555;
      font-size: 14px;
      transition: font-weight 0.3s ease; // Hiệu ứng font-weight khi hover
    }

    .lessonDuration {
      color: #888;
      font-size: 14px;
    }

    &.active {
      background-color: #e0e0e0d0; // Màu nền khi bài học được active

      .lessonName {
        font-weight: bold;
        color: #007BFF;
      }
    }

    &:hover {
      background-color: #f0f0f0; // Nhẹ nhàng thay đổi màu nền khi hover

      .lessonName {
        font-weight: bold; // Làm đậm tên bài học khi hover
      }
    }
  }
}

.loading,
.error {
  color: #cc0000;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.courseContainer {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);

  .courseNav {
    background-color: #f9f9f9; // Light grey background for differentiation
    padding: 15px 20px;
    border-bottom: 1px solid #e0e0e0; // Adds a subtle border line

    .ratingandescription {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      .navItem {
        position: relative;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 18px;
        color: #555;
        transition: color 0.3s ease-in-out;

        &:not(:last-child)::after {
          content: '|';
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          color: #ccc;
        }

        &:hover {
          color: #077949;
        }
      }

      .active {
        font-weight: bold;
        color: #077949;
        border-bottom: 2px solid #0a8164;
      }
    }


    .navList {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .notesContainer {
      padding: 10px;
      border-left: 2px solid #ccc;
      display: flex;
      flex-direction: column;
    }

    .notesHeader {
      display: flex;
      align-items: center;
      margin-right: 7rem;
    }

    .notesIcon {
      margin-right: 10px;
    }

    .notesInput {
      flex-grow: 1;
      margin: 10px 0;
    }

    .saveNoteButton {
      align-self: flex-end;
      padding: 5px 10px;
      cursor: pointer;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 5px;
    }

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      align-items: center;

      li {
        margin-right: 25px; // Space between items
        font-size: 16px;
        color: #333;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 5px; // Slightly rounded corners for a modern look
        transition: background-color 0.3s, color 0.3s;

        &:hover,
        &.active {
          color: #1a1919; // White text on active/hover
        }
      }
    }
  }

  .courseOverview {
    padding: 3rem 15rem 15rem 15rem;

    h1 {
      margin-top: 0;
      margin-bottom: 10px; // Adjust space between the title and text
      color: #333;
      font-size: 24px;
      font-weight: bold; // Bold for the title
    }

    p {
      margin-top: 0;
      margin-bottom: 20px;
      color: #666;
      font-size: 16px;
      line-height: 1.5; // Improving readability with line height
    }

    hr {
      border: 0;
      height: 2px; // Thicker line for more prominence
      background-color: #e0e0e0;
      margin-bottom: 0;
    }
  }
}

.reviewSection {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 0 15rem 15rem 15rem;


  .overallRating,
  .reviewList {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;



    &:hover {
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
      transform: translateY(-5px);
    }
  }

  .overallRating {
    text-align: center;
    color: #333;

    h2 {
      margin-top: 0;
      font-size: 28px;
      margin-bottom: 15px;
      background: -webkit-linear-gradient(45deg, #ff6a00, #ee0979);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .ratingContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 15px;
    }

    .ratingValue {
      font-size: 72px;
      color: #FFA500; // Gold color for rating
    }

    .stars {
      display: flex;
      gap: 5px;

      .filledStar {
        color: #FFA500;
      }

      .emptyStar {
        color: #ccc;
      }
    }

    .ratingBreakdown {
      display: flex;
      justify-content: space-around;
      font-size: 20px;
      font-weight: bold;
      color: #555;

      div {
        margin-bottom: 5px;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: #FFA500;
        }
      }
    }
  }

  .reviewList {
    h3 {
      margin-top: 0;
      font-size: 26px;
      color: #333;
      margin-bottom: 20px;
      background: -webkit-linear-gradient(45deg, #ff6a00, #ee0979);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .searchSort {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      input {
        flex-grow: 1;
        margin-right: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 25px;
        transition: border-color 0.3s ease-in-out;

        &:focus {
          border-color: #FFA500;
          outline: none;
        }
      }

      select {
        width: 200px;
        padding: 10px;
        border-radius: 25px;
        border: 1px solid #ccc;
        transition: border-color 0.3s ease-in-out;

        &:focus {
          border-color: #FFA500;
          outline: none;
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        border-bottom: 1px solid #eee;
        padding: 15px 0;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
          background-color: #f1f1f1;
          transform: translateY(-2px);
        }

        strong {
          display: block;
          color: #333;
          font-size: 18px;
          margin-bottom: 5px;
        }

        div {
          font-size: 22px;
          color: #FFA500;
          margin-bottom: 5px;
        }

        p {
          color: #666;
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
}



.footer {
  background: #2c3e50;
  color: #ecf0f1;
  padding: 20px 0;
  text-align: center;

  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerLogo img {
    width: 150px;
    margin-bottom: 15px;
  }

  .footerLinks {
    margin-bottom: 15px;

    a {
      color: #ecf0f1;
      margin: 0 10px;
      text-decoration: none;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footerSocial {
    margin-bottom: 15px;

    a {
      color: #ecf0f1;
      margin: 0 10px;
      font-size: 20px;

      &:hover {
        color: #3498db;
      }
    }
  }

  .footerCopy {
    font-size: 14px;
  }
}