// LessonModal.module.scss
$primary-color: #5D93E1; // Màu chủ đạo cho nút và liên kết
$background-color: #fff; // Màu nền cho modal
$text-color: #333; // Màu chữ chính
$placeholder-color: #888; // Màu placeholder
$video-accent-color: #ebeaea; // Màu sắc nổi bật cho các phần liên quan đến video

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); // Điều chỉnh độ mờ của nền modal
    z-index: 1001;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    form {
        width: 100%;
        max-width: 500px;
        background: $background-color;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-out;
        transform: translateY(-50px);
        position: relative;

        input[type="text"],
        input[type="number"],
        textarea,
        input[type="file"] {
            width: 100%;
            padding: 12px 15px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;

            &:focus {
                border-color: $primary-color;
                outline: none;
                box-shadow: 0 0 8px rgba($primary-color, 0.6);
            }

            &::placeholder {
                color: $placeholder-color;
            }
        }

        input[type="file"] {
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: $video-accent-color;
                color: $background-color;
            }
        }

        textarea {
            height: 120px;
            resize: none;
        }

        button {
            width: 100%;
            padding: 15px 0;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            background: linear-gradient(135deg, $primary-color, darken($primary-color, 10%));
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background: linear-gradient(135deg, darken($primary-color, 10%), $primary-color);
            }

            &:first-of-type {
                margin-bottom: 15px;
            }
        }
    }
}
