// HomePageContent.module.scss
.homePageContent {

    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 85vw; // Đảm bảo rằng nội dung chiếm toàn bộ chiều rộng có sẵn
    background-color: #fdfdf6;
    animation: fadeIn 0.5s ease-in-out forwards;

    .breadcrumbs {
        margin-bottom: 20px;
        font-size: 0.85rem;
        color: rgb(4, 136, 4);
        font-weight: bold;
    }

    .promotions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        span {
            flex: 1;
            margin-right: 10px;
            background-color: white;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
            font-size: 0.75rem;

            // Remove margin for the last item
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .filterBar {
        display: flex;
        margin-bottom: 20px;

        justify-content: center;

        button {

            border: none;
            padding: 8px 16px;
            margin-right: 8px;
            border-radius: 15px;
            font-size: 0.85rem;
            cursor: pointer;
            color: rgb(4, 136, 4);
            border-style: solid;


            &:hover,
            &.active {
                background-color: #003d0c;
                color: white;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .course {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 20px;


        .courseGrid {

            display: flex; // Enables Flexbox
            flex-wrap: wrap; // Allows items to wrap to the next line
            margin: -10px; // Negative margin to counteract the padding on course cards
            justify-content: center;


            @media (max-width: 768px) {
                flex-basis: calc(50% - 20px); // 2 cột trên mỗi hàng khi màn hình nhỏ hơn 768px
            }

            @media (max-width: 576px) {
                flex-basis: calc(100% - 20px); // 1 cột trên mỗi hàng khi màn hình nhỏ hơn 576px
            }
        }

        .courseCard {
            flex: 0 1 calc(28% - 50px); // Each card will take up 1/3 of the container width minus the padding
            margin: 10px; // Margin for spacing between cards
            display: flex; // Enables Flexbox for the content of the courseCard
            flex-direction: column; // Stack the children of courseCard vertically
            align-items: center; // Center-aligns the items
            border-radius: 1rem;
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            animation: zoomIn 0.5s ease-in-out forwards;

            img {
                width: 100%; // Thu nhỏ hình ảnh để vừa với khung card
                height: auto;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                object-fit: cover;
            }

            .courseInfo {
                padding: 10px;

                h3 {
                    font-size: 0.9rem; // Thu nhỏ kích thước tiêu đề
                    margin: 0 0 5px 0;
                }

                p {
                    font-size: 0.8rem; // Thu nhỏ kích thước văn bản
                    color: grey;
                    margin: 0 0 5px 0;
                }

                button {
                    background-color: #00A86B;
                    color: white;
                    border: none;
                    padding: 0.5rem 12px; // Thu nhỏ kích thước của nút
                    margin-top: auto; // Đẩy nút lên dưới cùng của card
                    border-radius: 0 0 8px 8px;
                    margin-left: 1rem;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: darken(#00A86B, 5%);
                    }
                }
            }
        }
    }



    .pagination {
        display: flex;
        justify-content: center;

        button {
            background: none;
            border: none;
            padding: 8px 12px;
            margin: 0 4px;
            cursor: pointer;

            &:hover {
                background-color: #f8f8f8;
            }
        }

        span {
            padding: 8px 12px;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes zoomIn {
        from {
            opacity: 0;
            transform: scale(0.9);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}