// HomePageContent.module.scss
.homePageContent {

    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 80vw; // Đảm bảo rằng nội dung chiếm toàn bộ chiều rộng có sẵn
    background-color: #fdfdf6;

    >*:not(.notification) {
        animation: fadeIn 1s ease-in-out forwards;
    }

    .notification {
        position: fixed;
        top: 20px; // Khoảng cách từ đầu trang
        left: 50%;
        transform: translateX(-50%);
        z-index: 1050; // Đảm bảo thông báo ở trên cùng, có thể tăng nếu cần
        padding: 10px 20px;
        background-color: #dff0d8; // Màu xanh nhạt cho thông báo thành công
        color: #3c763d; // Màu xanh đậm cho văn bản
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center;
        max-width: calc(100% - 40px); // Đảm bảo thông báo không vượt quá màn hình
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        // Hiệu ứng xuất hiện và biến mất
        animation: fadeInOut 3s forwards;
    }

    .searchbarandnreadcrumbs {
        display: flex;
        flex-grow: 1; // Cho phép .welcomendate phát triển và chiếm đủ không gian
        align-items: center;
        padding-bottom: 2rem;
        border-bottom: #aaa solid 1px;
        width: 100%;

        .breadcrumbs {
            margin-bottom: 20px;
            font-size: 0.85rem;
            color: rgb(4, 136, 4);
            font-weight: bold;
        }

        .searchBar {
            display: flex;
            align-items: center;
            background-color: white;
            border: 1px solid #ddd;
            padding: 0.5rem;
            border-radius: 20px;
            margin-left: auto; // Tự động đẩy .searchBar về bên phải
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Thêm bóng đổ
            transition: box-shadow 0.3s ease-in-out; // Hiệu ứng chuyển đổi khi hover

            &:hover {
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); // Bóng đổ lớn hơn khi hover
            }

            input {
                border: none;
                margin-left: 0.5rem;
                outline: none;
                height: 2rem;
                width: 20rem; // Hoặc sử dụng chiều rộng theo tỉ lệ % nếu bạn muốn input có chiều rộng đáp ứng
                font-size: 1rem; // Kích thước chữ
                color: #333; // Màu chữ

                &::placeholder {
                    color: #aaa; // Màu chữ của placeholder
                }
            }

            svg {
                color: #333;
                transition: color 0.3s ease-in-out; // Hiệu ứng chuyển đổi màu khi hover

                &:hover {
                    color: #007bff; // Màu thay đổi khi hover
                }
            }
        }

    }

    .promotions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        animation: scroll 20s linear infinite; // Adjust the duration as needed
        height: 40px; // Adjust the height as needed
        padding-top: 10px;

        span {
            flex: none;
            white-space: nowrap; // Prevent th
            margin-right: 10px;
            display: inline-block;
            margin-right: 10px;

            background-color: white;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
            font-size: 0.75rem;

            // Remove margin for the last item
            &:last-child {
                margin-right: 0;
            }
        }

        @keyframes scroll {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(-100%);
            }
        }
    }

    .filterBar {
        display: flex;
        margin-bottom: 20px;

        justify-content: center;

        button {
            background-color: #ffffff;
            border: none;
            color: #333;
            border: #0c8633 solid;
            padding: 0.5rem 1rem;
            border-radius: 20px;
            cursor: pointer;
            margin-left: 2rem;
            text-transform: none;

            &:hover,
            &.active {
                background-color: #003d0c;
                color: white;
            }

            &:last-child {
                margin-right: 0;
            }
        }

    }

    .courseGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: 20px;
        padding: 2rem 6rem 6rem 6rem;
        margin: -10px; // Negative margin to counteract the padding on course cards
        justify-content: center;

        .courseCard {
            display: flex;
            flex-direction: column;
            justify-content: space-between; // Adds space between the child elements
            height: 100%; // Set a height for the card to make sure there is space to push the button down
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
            padding: 1rem;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            }

            .courseImageWrapper {
                position: relative;
                width: 100%;
                height: 200px; // Adjust height as needed

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;


                }
            }

            .courseDetails {
                padding-top: 1rem;

                h3 {
                    font-size: 0.9rem;
                    font-weight: bold;
                    margin: 0 0 5px 0;
                }

                p {
                    font-size: 0.8rem;
                    color: grey;
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-bottom: 1rem;
                }
            }

            .courseActions {
                margin-top: auto;
                width: 100%; // Ensure the width fills the parent
                display: flex;
                justify-content: center;
                gap: 10px;

                button {
                    background-color: #124b21;
                    color: #ffffff;
                    border: none;
                    padding: 10px 20px;
                    font-size: 0.875rem;
                    font-weight: bold;
                    border-radius: 20px;
                    cursor: pointer;
                    transition: background-color 0.3s ease, box-shadow 0.3s ease;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

                    &:hover {
                        background-color: #e0e0e0;
                        box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .courseGrid {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }

    @media (max-width: 576px) {
        .courseGrid {
            grid-template-columns: 1fr;
        }
    }




    .pagination {
        display: flex;
        justify-content: center;

        button {
            background: none;
            border: none;
            padding: 8px 12px;
            margin: 0 4px;
            cursor: pointer;

            &:hover {
                background-color: #f8f8f8;
            }
        }

        span {
            padding: 8px 12px;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes zoomIn {
        from {
            opacity: 0;
            transform: scale(0.9);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes fadeInOut {

        0%,
        100% {
            opacity: 0;
            visibility: hidden;
        }

        10%,
        90% {
            opacity: 1;
            visibility: visible;
        }
    }


    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;

        button {
            background-color: transparent;
            border: none;
            padding: 10px 15px;
            margin: 0 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s, color 0.3s;
            color: black;
            font-weight: bold;

            &:hover {
                background-color: #e0e0e0;
                border-radius: 50%;
            }

            &.active {
                background-color: #006400;
                color: #fff;
                border-radius: 50%;
            }

            &:disabled {
                background-color: transparent;
                color: #ccc;
                cursor: not-allowed;
            }
        }

        .ellipsis {
            padding: 10px 15px;
            margin: 0 5px;
            font-size: 16px;
        }
    }


}