.HomeContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    width: 85vw;
}

.leftcolumn,
.rightcolumn {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.leftcolumn {
    display: flex;
    flex-direction: column;
    animation-name: zoomIn;
    animation-duration: 1s;
    padding: 50px;
    transition: all 0.3s ease;

    .breadcrumbs {
        margin-bottom: 20px;
        font-size: 0.85rem;
        color: rgb(4, 136, 4);
        font-weight: bold;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        padding-bottom: 2.5rem;

        .welcomendate {
            display: flex;
            flex-grow: 1;
            align-items: center;

            h1 {
                font-size: 1.6rem;
                color: #333;
                padding-bottom: 0.3rem;
                text-transform: uppercase;
            }

            .date {
                font-size: 1rem;
                color: #777;
            }
        }

        .searchBar {
            display: flex;
            align-items: center;
            background-color: white;
            border: 1px solid #ddd;
            padding: 0.5rem;
            border-radius: 20px;
            margin-left: auto;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease-in-out;

            &:hover {
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
            }

            input {
                border: none;
                margin-left: 0.5rem;
                outline: none;
                height: 2rem;
                width: 20rem;
                font-size: 1rem;
                color: #333;

                &::placeholder {
                    color: #aaa;
                }
            }

            svg {
                color: #333;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: #007bff;
                }
            }
        }
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        padding-bottom: 0.7rem;

        button {
            background-color: #ffffff;
            border: none;
            color: #333;
            border: #0c8633 solid;
            padding: 0.5rem 1rem;
            border-radius: 20px;
            cursor: pointer;
            margin-left: 2rem;
            text-transform: none;
            font-weight: 600;
            font-size: 0.9rem;

            &:hover {
                background-color: #d5dad6;
            }

            &.active {
                background-color: #017929;
                color: white;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .favoriteButton {
            border: #e91e63 solid; // Màu hồng cho viền nút
            color: #e91e63; // Màu hồng cho chữ

            &:hover {
                background-color: #f8bbd0; // Màu hồng nhạt khi hover
            }

            &.activeFavorite {
                background-color: #e91e63; // Màu hồng cho nền nút khi active
                color: white;
            }
        }

        .addIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            background-color: #0c8633;
            color: #e9eeea;
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            &:hover {
                background-color: darken(#0c8633, 10%);
            }
        }
    }

    .courseGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        padding: 1rem;
        margin: -10px;
        justify-content: center;

        .courseCard {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
            padding: 1rem;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            }

            .courseImageWrapper {
                position: relative;
                width: 100%;
                height: 200px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding-bottom: 0.75rem;
                }
            }

            .courseDetails {
                h3 {
                    font-size: 0.9rem;
                    margin: 0 0 5px 0;
                    font-weight: bold;
                }

                p {
                    font-size: 0.8rem;
                    color: grey;
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-bottom: 1rem;
                }
            }

            .courseActions {
                margin-top: auto;
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 10px;
                align-items: center;

                .favoriteIcon {
                    color: #ddd;
                    cursor: pointer;
                    transition: color 0.3s ease, transform 0.3s ease;
                    font-size: 1.5rem;

                    &.favorited {
                        color: red;
                    }

                    &:hover {
                        color: darkred;
                        transform: scale(1.1);
                    }
                }

                button {
                    background-color: #124b21;
                    color: #ffffff;
                    border: none;
                    padding: 10px 20px;
                    font-size: 0.875rem;
                    font-weight: bold;
                    border-radius: 20px;
                    cursor: pointer;
                    transition: background-color 0.3s ease, box-shadow 0.3s ease;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

                    &:hover {
                        background-color: #e0e0e0;
                        box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .courseGrid {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }

    @media (max-width: 576px) {
        .courseGrid {
            grid-template-columns: 1fr;
        }
    }
}

.rightcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding-top: 55px;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    animation-name: zoomIn;
    animation-duration: 1s;
    border-left: 2px solid #ccc;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;

        h1 {
            margin-right: 16rem;
            font-size: 1.25rem;
            color: #333;
        }

        .editButton {
            background-color: #0d682b;
            color: white;
            border: none;
            border-radius: 20px;
            padding: 0.5rem 1rem;
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: bold;

            &:hover {
                background-color: #062708;
            }

            svg {
                font-size: 1rem;
            }
        }
    }

    .avatarWrapper {
        .avatar {
            width: 150px;
            height: 150px;
            border-radius: 10%;
            margin-bottom: 1rem;
        }
    }

    .userName {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    .userEmail {
        font-size: 1rem;
        color: #777;
        margin-bottom: 0.5rem;
    }

    .membership {
        font-size: 0.875rem;
        color: #333;
        margin-bottom: 1rem;
    }

    .footer {
        font-size: 0.9rem;
        text-align: center;
        margin-top: 1rem;
        font-weight: bold;
        position: fixed;
        bottom: 2rem;
        width: 100%;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes zoomIn {
        from {
            opacity: 0;
            transform: scale(0.9);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}