// HomeLayout.module.scss
.homeLayout {
    display: flex;
    min-height: 100vh;
    background-color: #fdfdf6;

    .sidebar {
        width: 20%; // Chiếm 20% chiều rộng của viewport
        height: 100%;
        background-color: #004d26; // Màu nền của sidebar
        // Các styles khác cho sidebar
    }


}