/* General styles for the course detail page container */
.navbar {

    background-color: #148725; // or any other color you prefer
    color: #fff; // Adjust text color based on your navbar background color
    height: 50px; // You can adjust the height as necessary
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; // Add padding on the sides
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Optional: add shadow for depth
    width: 100%;

    position: fixed; // Make navbar fixed at the top
    top: 0; // Align navbar to the top of the viewport
    z-index: 1000; // Ensure navbar stays above other content

    animation: slideDown 0.5s ease; // Animation for sliding down

    @keyframes slideDown {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .logo {
        // Style your logo or brand name here
        font-size: 1.5rem; // Adjust the size as necessary
        font-weight: bold; // Adjust font weight as necessary
    }

    // Style additional navbar items here if you added them
}

.courseSidebar {
    position: fixed;
    top: 100px; // adjust as necessary to clear your fixed navbar
    right: 6rem;
    width: 300px; // adjust the width as necessary
    background-color: #fdfdf6;
    padding: 1.8rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    animation: fadeInRight 0.5s ease; // Animation for fading in from the right

    @keyframes fadeInRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .coursePreview {
        text-align: center;
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }

    .coursePurchase {
        .coursePrice {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
            // Style your price
        }

        .addToCartButton,
        .buyNowButton {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            border-radius: 4px;
            // Add more styles for buttons
        }

        .addToCartButton {
            background-color: #8e44ad; // example color
            color: #fff;
        }

        .buyNowButton {
            background-color: #3498db; // example color
            color: #fff;
        }

        .moneyBackGuarantee {
            font-size: 14px;
            color: #666;
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
            // Style your guarantee
        }
    }

    .courseIncludes {
        h4 {
            font-size: 16px;
            margin-bottom: 10px;
            // Style your includes title
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                font-size: 14px;
                margin-bottom: 5px;

                // Style your list items
                &:before {
                    content: '✔';
                    color: green; // example color
                    margin-right: 5px;
                    // Style your list item icon
                }
            }
        }
    }

    // Style additional sections here
}


.editable {
    border: 2px solid #010202; // Define border style
    border-radius: 4px; // Customize border radius if needed
}


.courseDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem;
    animation: fadeInUp 0.5s ease; // Animation for fading in from the bottom

    @keyframes fadeInUp {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .customselect {
        position: relative;
        display: inline-block;

        select {
            /* Thiết lập kích thước, màu sắc và các thuộc tính khác cho select */
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            font-size: 16px;
            cursor: pointer;
            outline: none;
            /* Loại bỏ viền khi select được focus */
            appearance: none;
            /* Loại bỏ giao diện mặc định của select */
            transition: border-color 0.3s ease;
            /* Hiệu ứng transition cho border-color */
        }

        &:after {
            /* Icon mũi tên bên phải của select */
            content: '\25BC';
            /* Unicode cho mũi tên */
            position: absolute;
            top: 50%;
            right: 10px;
            font-size: 16px;
            color: #555;
            /* Màu của mũi tên */
            transform: translateY(-50%);
            transition: color 0.3s ease;
            /* Hiệu ứng transition cho màu sắc */
        }

        select:hover {
            /* Hiệu ứng hover khi di chuột vào select */
            border-color: #999;
        }

        select:focus {
            /* Hiệu ứng focus khi select được chọn */
            border-color: #555;
        }

        &:hover:after {
            /* Hiệu ứng hover cho mũi tên */
            color: #999;
        }

        select:disabled {
            /* Thiết lập kiểu dáng cho select khi bị vô hiệu hóa */
            cursor: not-allowed;
            background-color: #f0f0f0;
            color: #999;
        }
    }


    .chapterControls {
        display: flex;
        gap: 10px;

        button {
            padding: 5px 10px;
            background-color: #007BFF;
            color: white;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            width: 35px;

            height: 35px;

            &:hover {
                background-color: darken(#007BFF, 10%);
            }
        }
    }


    .courseHeader {
        width: 100%;

        .saveButton,
        .exitButton,
        .editButton {
            margin: 0 5px;
            padding: 5px 10px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
            border: none;
        }

        .saveButton {
            background-color: #4CAF50;
            /* Green */
            color: white;
        }

        .exitButton {
            background-color: #f44336;
            /* Red */
            color: white;
        }

        .editButton {
            background-color: #008CBA;
            /* Blue */
            color: white;
        }

        .saveButton:hover,
        .exitButton:hover,
        .editButton:hover {
            opacity: 0.8;
        }

        .breadcrumbs {
            font-size: 0.85rem;
            color: #026618;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .courseTitle {
            font-size: 1.8rem;
            color: #212529;
            margin-bottom: 10px;
        }

        .courseSubtitle {
            font-size: 1rem;
            color: #212529;
            font-weight: 400;
            margin-bottom: 10px;
        }

        .courseRating {
            display: flex;
            align-items: center;

            font-size: 1rem;
            color: #212529;
            margin-bottom: 10px;

            .starFull,
            .starHalf,
            .starEmpty {
                color: #ccc; // Default color for stars
                font-size: 16px;
            }

            .starFull {
                color: #ffc107; // Yellow color for full stars
            }

            .starHalf {
                color: #ffc107; // Yellow color, might need to create gradient or use images for half star representation
                background: linear-gradient(90deg, #ffc107 50%, #ccc 50%); // Gradient for half star
            }

            .enrollment {
                margin-left: 10px;
            }
        }

        .instructorInfo {
            font-size: 0.9rem;
            color: #212529;

            .updateDate {
                margin-left: 10px;
            }

            .language {
                margin-left: 10px;
            }
        }
    }

    .courseContent {
        width: 50rem;
        max-width: 800px;
        margin: 20px auto;
        background: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);






        .chapterControls {
            display: flex;
            gap: 10px;

            button {
                padding: 5px 10px;
                background-color: #007BFF;
                color: white;
                border-radius: 5px;
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: darken(#007BFF, 10%);
                }
            }
        }

        .addLessonButton {

            padding: 10px 20px;
            background: linear-gradient(135deg, #4CAF50, #2E7D32);
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            margin-top: 10px;
            /* Thêm margin top */
            margin-bottom: 10px;
            /* Thêm margin bottom */
            display: block;
            margin-left: auto;
            /* Đặt margin left tự động để nút nằm bên phải */

            /* Hiệu ứng hover */
            &:hover {
                background: linear-gradient(135deg, #3e8e41, #266828);
                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
                transform: translateY(-2px);
                transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
            }

            /* Hiệu ứng active */

        }

        .sublist {
            margin-top: 10px;
            list-style-type: none;
        }

        .lesson {
            margin-bottom: 5px;
        }

        span {
            &:hover {
                cursor: pointer;
            }
        }

        h2 {
            display: flex;
            justify-content: center;
            color: #333;
            font-size: 1.25rem;
            padding-bottom: 15px;
            margin-bottom: 0;
            border-bottom: none;
        }

        .list {
            margin: 0;
            padding: 0;
            list-style: none;


            .item {
                flex-grow: 1;

                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;
                background-color: #f5f5f5;
                border-bottom: 1px solid #ddd;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: #e0e0e0;
                }

                &.open {
                    background-color: #fff;
                }

                .title {
                    font-size: 1rem;
                    color: #333;
                    font-weight: bold;
                }

                .duration {
                    font-size: 0.9rem;
                    color: #999;
                    margin-right: 10px;
                }

                .right {
                    display: flex;
                    align-items: center;

                }
            }

            form {
                background-color: #ffffff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
                margin-top: 20px; // Add some space above the form

                input[type="text"],
                input[type="number"],
                textarea {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;

                    &:focus {
                        outline: none;
                        border-color: #0056b3;
                        box-shadow: 0 0 8px rgba(0, 86, 179, 0.2);
                    }
                }

                textarea {
                    height: 100px; // Fixed height for the textarea
                }

                button {
                    width: 100%;
                    padding: 10px 0;
                    font-size: 16px;
                    background-color: #4CAF50;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background-color 0.3s ease-in-out;

                    &:hover {
                        background-color: darken(#4CAF50, 10%);
                    }
                }
            }

            .sublist {
                padding-left: 20px;


                .lesson {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 10px;
                    font-size: 0.9rem;
                    color: #666;

                    &:not(:last-child) {
                        border-bottom: 1px solid #d96161;
                    }
                }

                .left {
                    display: flex;
                    align-items: center;

                    .lessonDuration {
                        margin: 0 1rem;
                    }

                }

                .deleteLesson {

                    padding: 5px 10px;
                    background-color: #d60a0a;
                    color: white;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    width: 35px;

                    height: 35px;

                    &:hover {
                        background-color: darken(#8e0808, 10%);
                    }


                }
            }
        }
    }

    .courseContentOverview {
        button {
            margin-left: 4rem;
            font-size: 0.9rem;
            color: #026618;
            font-weight: bold;

            &:hover {
                color: rgb(2, 60, 4);
            }
        }
    }

    .courseContent2 {
        width: 50rem;
        max-width: 800px;
        margin: 20px auto;
        background: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        h2 {
            display: flex;
            justify-content: center;
            color: #333;
            font-size: 1.55rem;
            padding-bottom: 15px;
            margin-bottom: 0;
            border-bottom: none;
        }

        .list {
            margin: 0;
            padding: 0;
            list-style: none;

            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;

                .title {
                    font-size: 13px;
                    color: #333;
                    font-weight: bold;
                }

                .duration {
                    font-size: 0.9rem;
                    color: #999;
                }
            }

            .sublist {
                padding-left: 20px;

                .lesson {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 10px;
                    font-size: 0.9rem;
                    color: #666;

                    &:not(:last-child) {
                        border-bottom: 1px solid #d96161;
                    }
                }
            }
        }
    }

    .requirements {
        width: 50rem;
        max-width: 800px;
        margin: 20px auto;
        padding: 1.5rem;

        h3 {
            font-size: 1.5rem;
            color: #333;
        }

        ul {
            list-style: inside;
            margin: 0;
            padding: 0;

            li {
                font-size: 1rem;
                color: #666;
            }
        }
    }

    .description {
        width: 50rem;
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;

        h3 {
            font-size: 1.5rem;
            color: #333;
        }

        p {
            font-size: 1rem;
            color: #666;
            line-height: 1.6;
        }
    }
}


// Continue from previous SCSS

.courseContent2 {
    width: 50rem;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h2 {
        display: flex;
        justify-content: center;
        color: #333;
        font-size: 1.55rem;
        padding-bottom: 15px;
        margin-bottom: 0;
        border-bottom: none;
    }

    .list {
        margin: 0;
        padding: 0;
        list-style: none;

        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;

            .title {
                font-size: 13px;
                color: #333;
                font-weight: bold;
            }

            .duration {
                font-size: 0.9rem;
                color: #999;
            }
        }

        .sublist {
            padding-left: 20px;

            .lesson {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 10px;
                font-size: 0.9rem;
                color: #666;

                &:not(:last-child) {
                    border-bottom: 1px solid #d96161;
                }
            }
        }
    }
}

.requirements {
    width: 50rem;
    max-width: 800px;
    margin: 20px auto;
    padding: 1.5rem;

    h3 {
        font-size: 1.5rem;
        color: #333;
    }

    ul {
        list-style: inside;
        margin: 0;
        padding: 0;

        li {
            font-size: 1rem;
            color: #666;
        }
    }
}

.description {
    width: 50rem;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;

    h3 {
        font-size: 1.5rem;
        color: #333;
    }

    p {
        font-size: 1rem;
        color: #666;
        line-height: 1.6;
    }
}