.Container {

    width: 85vw;
    height: 100vh;
    animation-name: zoomIn; 
    animation-duration: 1s; 
    transition: all 0.5s ease; 
    .successMessage {
        background-color: #28a745; // Màu xanh lá cho thông báo thành công
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: center;
    }
    .breadcrumbs {
        margin-bottom: 20px;
        font-size: 0.85rem;
        color: rgb(4, 136, 4);
        font-weight: bold;
        padding: 20px;
    }
    .Header {
        display: flex; //phải có thg này
        justify-content: space-between; //căn chỉnh nằm sát biên theo chiều ngang
        align-items: center; //căn chỉnh ở giữa theo chiều dọc
        width: 100%;
        height: 15%;
        
       
    
        .Title {
            margin-left: 2rem;


        }

        .Container_Button {
            margin-right: 2rem;

        }

        .Cancel_Button {
            margin: 1rem;
            color: black;
            font-weight: 600;
            border-radius: 12px;

        }

        .Publish_Button {
            margin: 1rem;
            background-color: pink;
            font-weight: 600;
            border-radius: 12px;
        }
    }

    .form {
        display: flex;
        justify-content: flex;
        width: 100%;
        max-width: 100vw; // Giới hạn độ rộng tối đa của form
        background-color: #fff; // Màu nền của form
        padding: 2rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .leftSection {
        margin-left: 4rem;
        padding-right: 8rem;
    }

    .leftSection,
    .rightSection {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .formGroup {
        display: flex;
        flex-direction: column;
        width: 42rem;

        label {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            font-weight: bold;
            padding-bottom: 0.5rem;

        }


        input[type="text"],
        textarea,
        select {
            padding: 0.8rem;
            border-radius: 10px;
            border: 1px solid #ccc;
            font-size: 1rem;
            margin-bottom: 2rem;

            &:focus {
                border-color: #007bff;
                outline: none;
            }
        }

        textarea {
            height: 150px; // Hoặc bất kỳ độ cao nào bạn muốn
            resize: vertical; // Cho phép chỉnh sửa kích thước theo chiều dọc
        }

        .characterCount {
            font-size: 0.8rem; // Kích thước font nhỏ
            color: #6c757d; // Màu sắc
            text-align: right; // Căn phải
            margin-top: 0.5rem; // Khoảng cách từ textarea đến counter
        }
    }

    .formGroupDual {
        display: flex;
        justify-content: space-between;
        gap: 2%; // Thêm khoảng cách giữa hai trường nhập
        margin-bottom: 1rem; // Khoảng cách đến phần tử tiếp theo

        label {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            font-weight: bold;
            display: block; // Đảm bảo label hiển thị trên một dòng riêng
        }

        .language,
        .price {
            flex-basis: 48%; // Mỗi phần tử chiếm 48% không gian để có khoảng trống ở giữa

            select,
            input {
                width: 100%; // Chiếm toàn bộ không gian cho phép của parent
                padding: 0.8rem; // Độ dày đệm bên trong
                border-radius: 10px; // Bo tròn góc
                border: 1px solid #ccc; // Màu viền
                font-size: 1rem;
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); // Thêm bóng đổ bên trong nếu cần
                background-color: #fff; // Màu nền
                -webkit-appearance: none; // Gỡ bỏ style mặc định của browser cho select
                -moz-appearance: none;
                appearance: none;

                &:focus {
                    border-color: #007bff;
                    outline: none;
                    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); // Hiệu ứng focus
                }
            }

            // Thêm icon mũi tên cho select, chỉ hoạt động trên một số trình duyệt
            select {
                background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path d="M2048 640h-2048l1024 1024z" fill="%23007bff"/></svg>');
                background-repeat: no-repeat;
                background-position: right 0.8rem top 50%;
                background-size: 1.2rem;
            }
        }

        .price {
            position: relative;

            input {
                padding-right: 3rem; // Tạo không gian cho đơn vị tiền tệ
            }

            // Thêm đơn vị tiền tệ vào trường nhập
            &::after {
                content: 'USD, per hour';
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none; // Người dùng không tương tác được với content này
                color: #6c757d; // Màu chữ cho đơn vị tiền tệ
                font-size: 0.8rem; // Kích thước font cho đơn vị tiền tệ
            }
        }
    }

    .uploadSection {
        h2 {
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        .uploadArea {
            position: relative;
            /* Thêm thuộc tính position: relative; */
            display: flex;
            align-items: center;
            gap: 1rem;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.1); // phóng to nút bấm khi hover
            }

            img {
                position: absolute;
                top: 0;
                left: 0;

                object-fit: fill; // Điều chỉnh này giúp hình ảnh không bị méo
                border-radius: 9px;
                border: 4px dashed;
                border-color: #139030;
            }

            .uploadBtn {
                width: 36rem;
                height: 35rem;


            }

            .uploadBtn.disabled {
                opacity: 0.5;
                /* Thiết lập opacity để làm mờ button */
                pointer-events: none;
                /* Vô hiệu hóa sự kiện click trên button */
            }

            /* Thêm một class mới để làm mờ button */



            .uploadBtn {
                padding: .8rem 1.2rem;
                border-radius: 2rem;
                border: 2px dashed #ccc;
                background-color: #ececec;
                color: black;
                cursor: pointer;
                transition: background-color .3s;

                &:hover {
                    background-color: #bdbdbd; // Thay đổi màu khi hover
                }

                &:disabled {
                    opacity: 0.5; // Làm mờ nút khi nó không hoạt động
                    pointer-events: none; // Ngăn không cho người dùng click khi nút không hoạt động
                }
            }




        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
    
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    @keyframes zoomIn {
        from {
            opacity: 0;
            transform: scale(0.9);
        }
    
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}