.adminPage {
    padding: 20px;
    width: 85vw;

    .separator {
        background-color: #d3d3d3;
        padding: 10px;
        border-radius: 4px;
        margin: 20px 0;
        text-align: center;
    }

    .separatorText {
        color: #666;
        font-size: 1rem;
    }

    .primaryCard {
        background-color: #007bff;
        color: #fff;
    }

    .warningCard {
        background-color: #ffc107;
        color: #fff;
    }

    .successCard {
        background-color: #28a745;
        color: #fff;
    }

    .dangerCard {
        background-color: #dc3545;
        color: #fff;
    }

    .chartsContainer {
        margin-top: 20px;
    }

    .tableContainer {
        margin-top: 20px;
    }

    .cardContent {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon {
        margin-right: 10px;
    }

    .chartCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .chartTitle {
        margin-bottom: 10px;
    }
}